.dashboard-container{
    padding: 0 24px 24px 24px;
}


.calc-container{
    display: flex;
    margin: 30px 0;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.total-icon{
    font-size: 25px !important;
}

.total-container{
    display: flex;
    flex: 1 1 65%; /* Default width for large screens */
    flex-wrap: wrap;
    gap: 16px;
}

.order-box{
    flex: 1 1 100px;
    display: flex;
    flex-direction: column;
    background-color: #17171a;
    padding: 12px;
    border-radius: 10px;
    /* margin-right: 10px; */
    min-width: 120px;
    width: 100%;
}

.order-box div:nth-of-type(2){
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-box .icon-box{
    display: flex;
    background-color: grey;
    width: fit-content;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: -5px;
}
.order-box p{
    font-size: 0.8rem;
}

.order-box .count{
    font-size: 1.8rem;
    font-weight: 500;
}

 .green{
    color: rgb(3, 223, 3);
}
.order-box .red{
    color: red;
}

.icon-blue{
    color: #283268;
    background-color: #d3dbff9a !important;
}

.icon-green{
    color: rgb(3, 223, 3);
    background-color: rgb(179, 251, 179) !important;
}

.icon-red{
    color: red;
    background-color: rgb(255, 167, 167) !important;
}

.icon-pink{
    color: #ff0095;
    background-color: #ffc8e8 !important;
}

.net-container{
    display: flex;
    flex: 1 1 30%; /* Default width for large screens */
    background-color: #17171a;
    border-radius: 10px;
    padding: 10px;
    justify-content: space-between;
}

.net-value{
    font-size: 36px;
    font-weight: 500;
}

.net-container .value{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.progress-bar{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.progress-bar p{
    font-size: 0.7rem;
}


/* media query */
@media (max-width: 768px) {
    .total-container, .net-container {
        flex: 1 1 100%; /* Full width when wrapped */
    }
   
  }